version: '3.9'
name: m183_lb2
services:
  db:
    image: "mariadb:latest"
    container_name: m183-lb2-db
    ports:
      - "3306:3306"
    environment:
      - MARIADB_ROOT_PASSWORD=Some.Real.Secr3t
    volumes:
      - ./m183_lb2.sql:/docker-entrypoint-initdb.d/m183_lb2.sql
  web:
    build: .
    container_name: m183-lb2-web
    environment:
      - DBSERVER=m183-lb2-db
    ports:
      - "80:80"
    volumes:
      - type: bind
        source: ./../todo-list
        target: /var/www/html
